<a routerLink="display">displayhelloworld</a>
<a><b> | </b></a>
<a routerLink="/show">showhellobutton</a>
<a><b> | </b></a>
<a routerLink="/name">displayname</a>
<a><b> | </b></a>
<a routerLink="/counter">counter</a>
<a><b> | </b></a>
<a routerLink="/simple">simpleform</a>
<a><b> | </b></a>
<a routerLink="/userage">userage</a>
<a><b> | </b></a>
<a routerLink="/usergreeting">usergreeting</a>
<a><b> | </b></a>
<a routerLink="/calculator">calculator</a>
<a><b> | </b></a>
<a routerLink="/textlegnth">textlegnth</a>
<a><b> | </b></a>
<a routerLink="/currencyconverter">currencyconverter</a>
<a><b> | </b></a>
<a routerLink="/evenoddchecker">evenoddchecker</a>
<a><b> | </b></a>
<a routerLink="/wordreserver">wordreserver</a>
<a><b> | </b></a>
<a routerLink="/showdate">showdate</a>
<a><b> | </b></a>
<a routerLink="/showusername">showusername</a>
<a><b> | </b></a>
<a routerLink="/multiplicationtable">multiplicationtable</a>
<a><b> | </b></a>
<a routerLink="/simplelogin">simplelogin</a>
<a><b> | </b></a>
<a routerLink="/evenoddchecker">evenoddchecker</a>
<a><b> | </b></a>
<a routerLink="/fahrenheittocelsius">fahrenheittocelsius</a>
<a><b> | </b></a>
<a routerLink="/bookmarklist">bookmarklist</a>
<a><b> | </b></a>
<a routerLink="/charactercounter">charactercounter</a>
<a><b> | </b></a>
<a routerLink="/palindromechecker">palindromechecker</a>
<a><b> | </b></a>
<a routerLink="/temperature">temperature</a>
<a><b> | </b></a>
<a routerLink="/shoppinglist">shoppinglist</a>
<a><b> | </b></a>
<a routerLink="/factorial">factorialcalculator</a>
<a><b> | </b></a>
<a routerLink="/todo">todomanager</a>
<a><b> | </b></a>
<a routerLink="/guess">guessnumbergame</a>
<a><b> | </b></a>
<a routerLink="/wordcounter">wordcounter</a>
<a><b> | </b></a>
<a routerLink="/random">randomnumebrgenerator</a>
<a><b> | </b></a>
<a routerLink="/multiplicationchecker">multiplicationchecker</a>
<a><b> | </b></a>
<a routerLink="/uppercase">uppercaseconverter</a>
<a><b> | </b></a>
<a routerLink="/wordshuffler">wordshuffler</a>
<a><b> | </b></a>
<a routerLink="/bmisolver">bmisolver</a>
<a><b> | </b></a>
<a routerLink="/usernamevalidator">usernamevalidator</a>
<a><b> | </b></a>
<a routerLink="/interest">interestcalculator</a>
<a><b> | </b></a>
<a routerLink="/compound">compoundinterestcalculator</a>
<a><b> | </b></a>
<a routerLink="/fibonacci">fibonaccigenerator</a>
<a><b> | </b></a>
<a routerLink="/oddsum">oddsumcalculator</a>
<a><b> | </b></a>
<a routerLink="/currency">currencyformatter</a>
<a><b> | </b></a>
<a routerLink="/randomquote">randomquotedisplay</a>
<a><b> | </b></a>
<a routerLink="/uppercasegreeting">uppercasegreeting</a>
<a><b> | </b></a>
<a routerLink="/divisionchecker">divisionchecker</a>
<a><b> | </b></a>
<a routerLink="/dailyjournal">dailyjournal</a>
<a><b> | </b></a>
<a routerLink="/simpleregister">simpleregister</a>
<a><b> | </b></a>
<a routerLink="/simpleflashlight">simpleflashlight/a>
<a><b> | </b></a>
<a routerLink="/appealform">appealform/a>
<a><b> | </b></a>
<a routerLink="/guesscolor">guesscolor</a>
<a><b> | </b></a>
<a routerLink="/divisioncheckers">divisioncheckers</a>
<a><b> | </b></a>
<a routerLink="/divisiontable">divisiontable</a>
<a><b> | </b></a>
<a routerLink="/checkmbps">checkmbps/a>
<a><b> | </b></a>
<a routerLink="/pingchecker">pingchecker</a>
<a><b> | </b></a>
<a routerLink="/creatingbracket">creatingbracket</a>
<router-outlet></router-outlet> 